@using Microsoft.AspNetCore.Identity
@model IdentityRole

<div class="card">
    <div class="card-body">

        <form asp-action="DeleteConfirm" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">
                            <b style="color: red;">Tem certeza que deseja Excluir?</b>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Nome Perfil</label>
                        <br />@Model.Name
                    </div>
                </div>
            </div>
            <div class="row" style="float: right;">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a href="@Url.Action("Index","Perfil")" class="btn btn-secondary">Fechar</a>
            </div>

        </form>
    </div>
</div>


<partial name="_ValidationScriptsPartial" />
