@model Projeto.ViewModels.ClienteViewModel

@{
    DateTime DataNascimento = DateTime.Now;
    var DataNascimentoString = string.Empty;

    if(Model.DataNascimento != null) {
        DataNascimento = Convert.ToDateTime(Model.DataNascimento);
        DataNascimentoString = DataNascimento.ToString("dd/MM/yyyy");
    }
    else {
        DataNascimentoString = string.Empty;
    }
}

<div class="card">                   
  <div class="card-body"> 

    <form asp-action="Delete" method="POST">  
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>     

        <input type="hidden" asp-for="Id" />

       <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">
                        <b style="color: red;">Tem certeza que deseja Excluir?</b>
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Nome</label>
                    <br/>@Model.Nome         
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">CPF</label>
                    <br/>@Model.Cpf               
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Data Nascimento</label>
                    <br/>@DataNascimentoString         
                </div>
            </div>                         
        </div>
        <div class="row" style="float: right;">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a href="@Url.Action("Index","Cliente")" class="btn btn-secondary">Fechar</a>
        </div>

    </form>
  </div>
</div>
            

<partial name="_ValidationScriptsPartial">


