@using Projeto.ViewModels
@model ClienteViewModel

<div class="card">                   
  <div class="card-body"> 

    <form>  
        <div class="alert alert-success" role="alert">@ViewBag.Message</div>                  

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">Id</label> <br/>
                    @Model.Id                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Nome</label>
                    <input type="text" asp-for="Nome"  class="form-control" />                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">CPF</label>
                    <input type="text" asp-for="Cpf"  class="form-control" />                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Data Nascimento</label>
                    <input type="date" asp-for="DataNascimento"  class="form-control" />                    
                </div>
            </div>                 
        </div>
        <div class="row" style="float: right;">             
            <a href="@Url.Action("Index","Cliente")" class="btn btn-secondary">Fechar</a>
        </div>

    </form>
  </div>
</div>
            

<partial name="_ValidationScriptsPartial">