@model Projeto.Models.Usuario

<div class="card">
    <div class="card-body">

        <form asp-action="Edit" method="POST">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="bmd-label-floating">
                            <b>Edição de Usuário</b>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Nome</label>
                        <input type="text" asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="bmd-label-floating">Email</label>
                        <input type="text" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select asp-for="Status" class="form-control">
                            <option value="Ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="float: right;">
                <input type="submit" value="Concluir" class="btn btn-info" />
                <a href="@Url.Action("Index","Usuario")" class="btn btn-secondary">Fechar</a>
            </div>

        </form>
    </div>
</div>


<partial name="_ValidationScriptsPartial" />
