<div class="col-md-12">

    @* <a href="@Url.Action("Create","Usuario")" class="btn" style="float:left; background:#00BCD4">
        <i class="fa fa-plus fa-3x"></i> USUÁRIO
        </a> *@

    <div class="input-group col-md-3" style="float: right;">
        <input type="text" id="search" class="form-control py-2" onkeyup="ProcurarUsuario(this.value)">
        <i class="fa fa-search fa-2x" style="color: #00BCD4;"></i>
    </div>


    <div class="card">
        <div class="card-body">
            <div id="tabela-index">
                <partial name="_TabelaIndex" />
            </div>
        </div>
    </div>
</div>



<!-- ======== ID DE MODALS CHAMADAS NO ARQUIVO 'menu.js' =============================-->
<div id="carrega-modal"></div>


<partial name="_scripts" />
